/* Normilizing the application styles  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-purple: #7c3aed;
}

input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: "Poppins-Regular" !important;
}

.max-w-max {
  width: max-content;
}

.max-h-max {
  height: max-content;
}

.extra-small-font {
  font-size: 11px;
}

a {
  list-style: none;
  text-decoration: none;
}

/* Application Fonts */
@font-face {
  font-family: "Poppins-Light";
  src: url(/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins-Black";
  src: url(/fonts/Poppins/Poppins-Black.ttf);
}

/* Container */
.container {
  margin: 0 auto;
  width: 1360px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 578px) {
  .container {
    max-width: 578px;
  }
}

span strong {
  cursor: pointer;
}

.url {
  color: rgb(139, 59, 196);
  transition: all ease 200ms;
  font-weight: bold;
}

.url:hover {
  color: rgb(115, 29, 177);
}

.cursor-pointer {
  cursor: pointer;
}

/* Application Reusable classes */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-px {
  gap: 1px;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.flex-col {
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.py-1 {
  padding: 4px 0;
}

.py-2 {
  padding: 8px 0;
}

.py-3 {
  padding: 12px 0;
}

.py-4 {
  padding: 16px 0;
}

.py-5 {
  padding: 20px 0;
}

.py-6 {
  padding: 24px 0;
}

.py-7 {
  padding: 28px 0;
}

.py-8 {
  padding: 32px 0;
}

.py-9 {
  padding: 36px 0;
}

.py-10 {
  padding: 40px 0;
}

.px-1 {
  padding: 0 4px;
}

.px-2 {
  padding: 0 8px;
}

.px-3 {
  padding: 0 12px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-gold {
  color: gold;
}

.px-4 {
  padding: 0 16px;
}

.px-5 {
  padding: 0 20px;
}

.px-6 {
  padding: 0 24px;
}

.px-7 {
  padding: 0 28px;
}

.px-8 {
  padding: 0 32px;
}

.px-9 {
  padding: 0 36px;
}

.px-10 {
  padding: 0 40px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 12px;
}

.pl-4 {
  padding-left: 16px;
}

.pl-5 {
  padding-left: 20px;
}

.pl-6 {
  padding-left: 24px;
}

.pl-7 {
  padding-left: 28px;
}

.pl-8 {
  padding-left: 32px;
}

.pl-9 {
  padding-left: 36px;
}

.pl-10 {
  padding-left: 40px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 12px;
}

.pr-4 {
  padding-right: 16px;
}

.pr-5 {
  padding-right: 20px;
}

.pr-6 {
  padding-right: 24px;
}

.pr-7 {
  padding-right: 28px;
}

.pr-8 {
  padding-right: 32px;
}

.pr-9 {
  padding-right: 36px;
}

.pr-10 {
  padding-right: 40px;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.p-7 {
  padding: 28px;
}

.p-8 {
  padding: 32px;
}

.p-9 {
  padding: 36px;
}

.p-10 {
  padding: 40px;
}

.bg-white {
  background: white;
}

.text-base {
  font-size: 16;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 21px;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 32px;
}

.text-4xl {
  font-size: 36px;
}

.text-5xl {
  font-size: 40px;
}

.text-6xl {
  font-size: 48px;
}

.h-1 {
  height: 4px;
}

.h-2 {
  height: 8px;
}

.h-3 {
  height: 12px;
}

.h-4 {
  height: 16px;
}

.h-5 {
  height: 20px;
}

.h-6 {
  height: 24px;
}

.h-7 {
  height: 28px;
}

.h-8 {
  height: 32px;
}

.h-9 {
  height: 36px;
}

.h-10 {
  height: 40px;
}

.h-full {
  height: 100%;
}

.w-1 {
  width: 4px;
}

.w-2 {
  width: 8px;
}

.w-3 {
  width: 12px;
}

.w-4 {
  width: 16px;
}

.w-5 {
  width: 20px;
}

.w-6 {
  width: 24px;
}

.w-7 {
  width: 28px;
}

.w-8 {
  width: 32px;
}

.w-9 {
  width: 36px;
}

.w-10 {
  width: 40px;
}

.w-11 {
  width: 44px;
}

.h-11 {
  height: 44px;
}

.w-12 {
  width: 48px;
}

.h-12 {
  height: 48px;
}

.w-13 {
  width: 52px;
}

.h-13 {
  height: 52px;
}

.w-14 {
  width: 56px;
}

.h-14 {
  height: 56px;
}

.w-15 {
  width: 60px;
}

.h-15 {
  height: 60px;
}

.w-16 {
  width: 64px;
}

.h-16 {
  height: 64px;
}

.left-1 {
  left: 4px;
}

.left-2 {
  left: 8px;
}

.left-3 {
  left: 12px;
}

.left-4 {
  left: 16px;
}

.left-5 {
  left: 20px;
}

.left-6 {
  left: 24px;
}

.left-7 {
  left: 28px;
}

.left-8 {
  left: 32px;
}

.left-9 {
  left: 36px;
}

.left-10 {
  left: 40px;
}

.right-1 {
  right: 4px;
}

.right-2 {
  right: 8px;
}

.min-w-max {
  min-width: max-content;
}

.right-3 {
  right: 12px;
}

.right-4 {
  right: 16px;
}

.right-5 {
  right: 20px;
}

.right-6 {
  right: 24px;
}

.right-7 {
  right: 28px;
}

.right-8 {
  right: 32px;
}

.right-9 {
  right: 36px;
}

.right-10 {
  right: 40px;
}

.top-1 {
  top: 4px;
}

.top-2 {
  top: 8px;
}

.top-2-5 {
  top: 10px;
}

.top-3 {
  top: 12px;
}

.top-4 {
  top: 16px;
}

.top-5 {
  top: 20px;
}

.top-6 {
  top: 24px;
}

.top-7 {
  top: 28px;
}

.top-8 {
  top: 32px;
}

.top-9 {
  top: 36px;
}

.top-10 {
  top: 40px;
}

.bg-transparent {
  background: transparent;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 3px;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 8px;
}

.rounded-lg {
  border-radius: 12px;
}

.rounded-xl {
  border-radius: 16px;
}

.rounded-2xl {
  border-radius: 20px;
}

.rounded-3xl {
  border-radius: 24px;
}

.rounded-full {
  border-radius: 10000px;
}

.overflow-hidden {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Poppins-Regular" !important;
}

.border-b {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.168);
}

.overflow-y-visible {
  overflow-y: auto;
}

.justify-between {
  justify-content: space-between;
}

.border-none {
  border: none;
}

.bg-gray-100 {
  background: #f5f5f5;
}

.bg-gray-200 {
  background: #eeeeee;
}

.bg-gray-300 {
  background: #e0e0e0;
}

.bg-gray-400 {
  background: #bdbdbd;
}

.bg-gray-500 {
  background: #9e9e9e;
}

.bg-gray-600 {
  background: #757575;
}

.bg-gray-700 {
  background: #616161;
}

.bg-gray-800 {
  background: #424242;
}

.bg-gray-900 {
  background: #212121;
}

.text-gray-100 {
  color: #f5f5f5;
}

.text-gray-200 {
  color: #eeeeee;
}

.text-center {
  text-align: center;
}

.text-gray-300 {
  color: #e0e0e0;
}

.text-gray-400 {
  color: #bdbdbd;
}

.text-gray-500 {
  color: #9e9e9e;
}

.text-gray-600 {
  color: #757575;
}

.text-gray-700 {
  color: #616161;
}

.text-gray-800 {
  color: #424242;
}

.text-gray-900 {
  color: #212121;
}

/* Indigo 100 */
.bg-indigo-100 {
  background-color: #ebf4ff;
  transition: all ease 200ms;
}

/* Indigo 200 */
.bg-indigo-200 {
  background-color: #c3dafe;
  transition: all ease 200ms;
}

/* Indigo 300 */
.bg-indigo-300 {
  background-color: #a3bffa;
  transition: all ease 200ms;
}

/* Indigo 400 */
.bg-indigo-400 {
  background-color: #7f9cf5;
  transition: all ease 200ms;
}

/* Indigo 500 */
.bg-indigo-500 {
  background-color: #667eea;
  transition: all ease 200ms;
}

/* Indigo 600 */
.bg-indigo-600 {
  background-color: #5a67d8;
  transition: all ease 200ms;
}

/* Indigo 700 */
.bg-indigo-700 {
  background-color: #4c51bf;
  transition: all ease 200ms;
}

/* Indigo 700 */
.bg-indigo-700:hover {
  background-color: #656bd7;
  transition: all ease 200ms;
}

/* Indigo 800 */
.bg-indigo-800 {
  background-color: #434190;
  transition: all ease 200ms;
}

/* Indigo 900 */
.bg-indigo-900 {
  background-color: #3c366b;
  transition: all ease 200ms;
}

/* Indigo 100 */
.text-indigo-100 {
  color: #ebf4ff;
}

/* Indigo 200 */
.text-indigo-200 {
  color: #c3dafe;
}

/* Indigo 300 */
.text-indigo-300 {
  color: #a3bffa;
}

/* Indigo 400 */
.text-indigo-400 {
  color: #7f9cf5;
}

/* Indigo 500 */
.text-indigo-500 {
  color: #667eea;
}

/* Indigo 600 */
.text-indigo-600 {
  color: #5a67d8;
}

/* Indigo 700 */
.text-indigo-700 {
  color: #4c51bf;
}

/* Indigo 800 */
.text-indigo-800 {
  color: #434190;
}

/* Indigo 900 */
.text-indigo-900 {
  color: #3c366b;
}

.object-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-white {
  color: white;
}

/* Slate 100 */
.text-slate-100 {
  color: #f0f4f8;
}

/* Slate 200 */
.text-slate-200 {
  color: #d9e2ec;
}

/* Slate 300 */
.text-slate-300 {
  color: #bdc7d8;
}

/* Slate 400 */
.text-slate-400 {
  color: #a5b3cc;
}

/* Slate 500 */
.text-slate-500 {
  color: #8b99b4;
}

/* Slate 600 */
.text-slate-600 {
  color: #73819b;
}

/* Slate 700 */
.text-slate-700 {
  color: #5e6c84;
}

/* Slate 800 */
.text-slate-800 {
  color: #4c556c;
}

/* Slate 900 */
.text-slate-900 {
  color: #3f4859;
}

/* Slate 100 */
.bg-slate-100 {
  background-color: #f0f4f8;
  transition: all ease 200ms;
}

/* Slate 200 */
.bg-slate-200 {
  background-color: #d9e2ec;
  transition: all ease 200ms;
}

/* Slate 300 */
.bg-slate-300 {
  background-color: #bdc7d8;
  transition: all ease 200ms;
}

/* Slate 400 */
.bg-slate-400 {
  background-color: #a5b3cc;
  transition: all ease 200ms;
}

/* Slate 500 */
.bg-slate-500 {
  background-color: #8b99b4;
  transition: all ease 200ms;
}

/* Slate 600 */
.bg-slate-600 {
  background-color: #73819b;
  transition: all ease 200ms;
}

/* Slate 700 */
.bg-slate-700 {
  background-color: #5e6c84;
  transition: all ease 200ms;
}

/* Slate 800 */
.bg-slate-800 {
  background-color: #4c556c;
  transition: all ease 200ms;
}

/* Slate 900 */
.bg-slate-900 {
  background-color: #3f4859;
  transition: all ease 200ms;
}

.font-Poppins-Light {
  font-family: "Poppins-Light" !important;
}

.font-Poppins-Regular {
  font-family: "Poppins-Regular" !important;
}

.font-Poppins-Medium {
  font-family: "Poppins-Medium" !important;
}

.font-Poppins-SemiBold {
  font-family: "Poppins-SemiBold" !important;
}

.font-Poppins-Bold {
  font-family: "Poppins-Bold" !important;
}

.font-Poppins-ExtraBold {
  font-family: "Poppins-ExtraBold" !important;
}

.font-Poppins-Black {
  font-family: "Poppins-Black" !important;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.my-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-9 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.my-10 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-7 {
  margin-top: 28px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-9 {
  margin-top: 36px;
}

.mt-10 {
  margin-top: 40px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.pt-6 {
  padding-top: 24px;
}

.pt-7 {
  padding-top: 28px;
}

.pt-8 {
  padding-top: 32px;
}

.pt-9 {
  padding-top: 36px;
}

.pt-10 {
  padding-top: 40px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pb-9 {
  padding-bottom: 36px;
}

.pb-10 {
  padding-bottom: 40px;
}

.mx-auto {
  margin: 0 auto;
}

.shadow {
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.02);
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-60 {
  z-index: 60;
}

:root {
  --main-color: rgb(129, 66, 174);
  --secondary-color: rgb(4, 125, 229) !important;
  --indigo-color: #6060db;
}
