<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Social | Login</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<!-- id="auth-container" -->

<body class="auth-page">
    <section id="auth-container">

        <form id="auth-form" action="/auth/login" method="post">
            <header>
                <h2 class="text-3xl">
                    Welcome back 🌞
                </h2>
            </header>

            <main class="mt-10">
             

                <div class="auth-input-card">
                    <label for="register_username" class="font-Poppins-Medium">
                        email :
                    </label>
                    <div class="relative flex input-card items-center">
                        <input id="register_username" type="text" name="email" class="auth-input"
                            placeholder="Please enter the your username..">
                        <span class="absolute left-2 top-4 text-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                              </svg>
                              
                        </span>
                    </div>

                </div>

             

                </div>

                <div class="auth-input-card">
                    <label for="register_password" class="font-Poppins-Medium">
                        Password :
                    </label>
                    <div class="relative flex input-card items-center">
                        <input id="register_password" type="password" name="password" class="auth-input"
                            placeholder="Please enter the your password..">
                        <span class="absolute left-2 top-4 text-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002" />
                              </svg>                              
                        </span>
                    </div>

                </div>

                <div class="flex items-center gap-1 text-sm">
                    <span>
                        Forget the password?
                    </span>
                    <span>
                        <strong>
                            <a href="/auth/forget-password" class="text-indigo-700">
                                recovery
                            </a>
                        </strong>
                    </span>
                </div>
            </main>
            <footer class="mt-4">

                <button class="bg-indigo-700 text-white rounded-sm">
                    Continue
                </button>
                
                <div class="flex items-center gap-1 mt-5 text-sm">
                    <span>
                        Don't have an account?
                    </span>
                    <span>
                        <strong>
                            <a href="/auth/register" class="text-indigo-700">
                                Create Account
                            </a>
                        </strong>
                    </span>
                </div>

            </footer>


        </form>
    </section>
    <div class="image-bg">
    </div>

    </form>

    <script src="/js/sweetalert.js"></script>
    <script>
        if("<%= locals.messages.error%>"){
            swal({
                title: "<%=locals.messages.error%>",
                icon: "error",
                button: "Try Again",
                });
        }else if ("<%= locals.messages.success%>"){
            swal({
                title: "<%=locals.messages.success%>",
                icon: "success",
                button: "Hooraaa😍✅",
                });
        }
    </script>

</body>

</html>